<ul style="float:left">
    共 <span>{{ bind_review.paginator.count }}</span> 条任务，总 <span>{{ bind_review.paginator.num_pages }}</span> 页
</ul>
<ul class="pagination" style="float:right">
{% if bind_review.has_previous %}
    <li><a href="?table=4&&page={{ bind_review.previous_page_number }}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
{% else %}
    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
{% endif %}

{% if bind_review.has_previous %}
    <li><a href="?table=4&&page=1" class="prev">{{ previous_link_decorator|safe }}首页</a></li>
{% else %}
    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}首页</span></li>
{% endif %}

{% for page in p_pages_bind_review %}
{% if page %}
{% ifequal page bind_review.number %}
<li class="active"><span class="current page">{{ page }}</span></li>
{% else %}
<li><a href="?table=4&&page{{ page_suffix }}={{ page }}{{ getvars }}" class="page">{{ page }}</a></li>
{% endifequal %}
{% endif %}
{% endfor %}
 
{% if bind_review.has_next %}  
	<li><a href="?table=4&&page={{ bind_review.paginator.num_pages }}" class="next">末页{{ next_link_decorator|safe }}</a></li> 
{% else %}
        <li class="paginate_button next disabled"><span class="disabled next">末页{{ next_link_decorator|safe }}</span></li>
{% endif %}
 
{% if bind_review.has_next %}
        <li><a href="?table=4&&page={{ bind_review.next_page_number }}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
{% else %}
        <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
{% endif %}
</ul>